/****************
COLORS
****************/
$white: #fff;
$black: #000;
$light-grey: #ddd;
$medium-light-grey: #999;
$medium-grey: #666;
$dark-grey: #333;
$site-color1: #b24ac4;
$site-color2: #c576db;

$site-gradient1: #e3a1f9;
$site-gradient2: #d89dfb;
