/****************
FOOTER
****************/

//-----SIZE-----//
$footer-height: 65px;

//-----COLOR-----//
$footer-background: $black;
$footer-font-color: $light-grey;
$footer-font-color-hover: $site-gradient1;

/****************
SECTIONS
****************/

//-----SIZES-----//
$footer-section-spacing: 25px;

/****************
COPYRIGHT
****************/

//-----COLOR-----//
$footer-copyright-color: $medium-grey;

//-----FONT-----//
$footer-copyright-font-size: 12px;

/****************
LINKS
****************/

//-----SIZS-----//
$footer-link-spacing: $menu-category-spacing;

/****************
SOCIAL
****************/

//-----SIZS-----//
$footer-social-spacing: $menu-social-spacing;
$footer-social-font-size: $menu-social-font-size;

/****************
SPACER
****************/

//-----SIZS-----//
$footer-spacer-font-size: $menu-spacer-font-size;

//-----COLOR-----//
$footer-spacer-color: $medium-grey;
