/****************
HEADER
****************/

	//-----SIZE-----//
	$post-header-margin: 15px 0 30px 0;

	/****************
	CATEGORY
	****************/

		//-----SIZE-----//
		$post-cat-width: 40px;
		$post-cat-height: $post-cat-width;
		$post-cat-margin: 0 auto 20px auto;

		//-----COLOR-----//
		$post-cat-color: $white;

		//-----BORDER-----//
		$post-cat-border-radius: 50%;

	/****************
	TITLE
	****************/

		//-----SIZES-----//
		$post-title-margin: 0;

		//-----FONT-----//
		$post-title-text-transform: uppercase;
		$post-title-letter-spacing: 1px;
		$post-title-font-weight: 700;
		$post-title-font-size: 26px;

	/****************
	DATE
	****************/

		//-----COLOR-----//
		$post-date-color: $site-color2;

		//-----FONT-----//
		$post-date-font-size: 14px;
		$post-date-margin: 10px 0 0 0;


/****************
SECTIONS
****************/

	//-----SIZES----//
	$post-section-margin: 50px 0 0 0;

	/****************
	TITLES
	****************/

	//-----SIZES-----//
	$post-section-title-margin: 0;
	$post-section-title-padding: 0;

	//-----FONT-----//
	$post-section-title-font-size: 16px;
	$post-section-title-font-weight: 300;

	/****************
	PARAGRAPHS
	****************/

		//-----SiZES-----//
		$post-paragraphs-margin: 0 0 20px 0;

		//-----FONT-----//
		$post-paragraphs-line-height: 28px;

/****************
PRODUCTS
****************/

/****************
SHARE
****************/

/****************
NEXT - PREVIOUS
****************/

/****************
COMMENTS
****************/
